
body{
/* background-color: #F2F4FF; */
background-image: url("/TriviaGame/assets/images/wall4_@2X.png")
}

button{
    width: 75%;
    padding: 10px;
    margin: 10px 0px;
    background-color: #A9D3FF;
    border: none;
    font-size: 35px;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 60px;
    font-weight: bold;
}

h3{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Life Savers', cursive;
}

p{
    font-size: 30px;
}

h2, h4, p{
    font-family: 'Life Savers', cursive;
}

button{
    font-family: 'Life Savers', cursive;
    font-weight: bold;
}

img{
    height: 350px;
    border: solid black 5px;
}


.container{
    background-color: #96C5F7;
    text-align: center;
    min-height: 600px;
    max-width: 800px;
    /* display: flex; */
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#start-screen{
    margin-top: 200px;
}

#title{
    /* text-align: center; */
    max-width: 800px;
    margin: 0px auto 0px auto;
    font-family: 'Slackey', cursive;
}

#credit{
    max-width: 800px;
    margin: 0px auto 0px auto;
    padding: 5px 0px;
    font-family: 'Unkempt', cursive;
    font-size: 30px;
}

#timer{
    padding: 20px;
}

button:hover{
    background-color: rgb(193, 221, 250);
    transition: 0.3s;
}

button:active{
    background-color: rgb(88, 159, 235);
    color: white;
}

/* 660px viewport */
@media (max-width: 660px) {
    h1{
        font-size: 50px;
    }

    h2{
        font-size: 45px;
    }

    h3, p, button{
        font-size: 30px;
    }
    
  
}

/* 470px viewport */
@media (max-width: 470px) {
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 40px;
    }

    p, button{
        font-size: 25px;
    }

    img{
        height: 320px;
    }
    .container{
        min-height: 500px;
    }
}